.footer {
  display: flex;
  flex-direction: column;
  background-color: #444c64;
  padding: 56px 40px 40px 40px;
}

.component1 {
  background-image: url("./img/logo_white@3x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 48px;
  height: 48px;
}

.label {
  opacity: 0.8;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #fff;
}

.text {
  opacity: 0.5;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: center;
  color: #fff;
  margin-left: 6px;
}

.component2 {
  margin-top: 24px;
  display: flex;
}

.component3 {
  margin-top: 8px;
  display: flex;
}

.component3__1 {
  display: flex;
  margin-right: 16px;
}

.component3__2 {
  display: flex;
}

.component4 {
  margin-top: 8px;
  display: flex;
}

.component5 {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.component5__1 {
  display: flex;
  margin-right: 16px;
}

.component5__2 {
  display: flex;
}

.component6 {
  margin-top: 56px;
  opacity: 0.4;
  font-family: Pretendard;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.25px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 40px 24px 40px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 32px 16px 32px 16px;
  }

  .component3 {
    flex-direction: column;
  }

  .component3__2 {
    margin-top: 8px;
  }

  .component5__1 {
    margin-bottom: 8px;
  }
}
