.section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #6aa7ff;

  background-image: url("./img/section2_bg_circle@3x.png");
  background-position: center 313px;
  background-repeat: no-repeat;
  background-size: 1093px 1095px;
}

.content {
  flex: 0 0 1000px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.component1 {
  background-image: url("./img/section2_badge@3x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  margin-top: 44px;
}

.component2 {
  margin-top: 24px;
  font-family: GmarketSans;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.96px;
  text-align: center;
  color: #fff;
}

.component3 {
  width: 720px;
  height: 400px;
  margin-top: 64px;
  margin-bottom: 106px;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 720px;
  height: 400px;
  margin: -200px 0 0 -360px;
}

@media screen and (max-width: 1000px) {
  .section {
    background-image: url("./img/[t]section2_bg_circle@3x.png");

    background-position: center 553px;
    background-repeat: no-repeat;
    background-size: 840px 811px;
  }

  .content {
    flex: 1;
  }

  .component1 {
    margin-top: 80px;
  }

  .component2 {
  }

  .component3 {
    width: 680px;
    height: 378px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    background-image: url("./img/[m]section2_bg_circle@3x.png");

    background-position: center 345px;
    background-repeat: no-repeat;
    background-size: 410px 396px;
  }

  .content {
    flex: 1;
  }

  .component1 {
    width: 24px;
    height: 24px;
    margin-top: 48px;
  }

  .component2 {
    font-size: 18px;
  }

  .component3 {
    width: 343px;
    height: 191px;
    margin-top: 48px;
    margin-bottom: 121px;
  }
}
