.section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f8f8;
}

.content {
  flex: 0 0 840px;
  flex-direction: column;
  display: flex;
  align-items: center;
  /* padding-left: 80px;
  padding-right: 80px; */
}

.component1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.component1__menu {
  display: flex;
  justify-content: center;
}

.component1__menu__item {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component1__menu__item__icon {
  width: 16px;
  height: 16px;
}

.component1__menu__item.active .component1__menu__item__icon {
  background-image: url("./img/section3_mark@3x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.component1__menu__item__text {
  margin-top: 8px;
  font-family: GmarketSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.72px;
  text-align: left;
  color: #444c64;
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
}

.component1__menu__item.active .component1__menu__item__text {
  color: #0ecca8;
  opacity: 1;
}

.component2 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 123px;
  width: 100%;
  height: 495px;
}

.component2__1 {
  display: flex;
  flex-direction: column;
  flex: 1 0;

  animation-name: slidein;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.component2__1__label1 {
  margin-top: 83px;
  margin-bottom: 24px;
  font-family: GmarketSans;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -1.6px;
  text-align: left;
  color: #444c64;
}

.component2__1__label2 {
  opacity: 0.6;
  font-family: GmarketSans;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #444c64;
}

.component2__2 {
  flex: 0 0 420px;
}

.component2__2__phone {
  background-image: url("img/phone_frame@3x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 320px;
  height: 100%;
  display: flex;
}

.component2__2__phone__screen {
  margin-left: 14px;
  margin-top: 65px;
  width: 292px;
  background-color: white;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.component2__2__phone__screen__section1 {
  background-image: url("./img/section5_img1@3x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex: 0 0 292px;
  height: 100%;
}

.component2__2__phone__screen__section2 {
  background-image: url("./img/section5_img2@3x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex: 0 0 292px;
  height: 100%;
}

.component2__2__phone__screen__section3 {
  background-image: url("./img/section5_img3@3x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex: 0 0 292px;
  height: 100%;
}

.component2__2__phone__screen__section4 {
  background-image: url("./img/section5_img4@3x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex: 0 0 292px;
  height: 100%;
}

.component2__2__prevBtn {
  display: none;
}

.component2__2__nextBtn {
  display: none;
}

.none {
  display: none;
}

.flex {
  flex: 1;
}

@keyframes slidein {
  from {
    margin-left: 50px;
    opacity: 0;
  }

  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    flex: 0 0 768px;
    padding: 0;
  }

  .component1 {
  }

  .component2 {
    margin-top: 0;
    flex-direction: column;
    height: 825px;
  }

  .component2__1 {
    margin-top: 0;
    margin-left: 0;
    flex: 1 1;
  }

  .component2__1__label1 {
    text-align: center;
  }

  .component2__1__label2 {
    text-align: center;
    height: 118px;
  }

  .component2__2 {
    display: flex;
    justify-content: center;
    flex: 0 0 495px;
  }

  @keyframes slidein {
    from {
      margin-left: 50px;
      opacity: 0;
    }

    to {
      margin-left: 0px;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex: 1;
    padding: 0;
  }

  .component1 {
    display: none;
  }

  .component2 {
    margin-top: 0;
    flex-direction: column;
    height: 726px;
  }

  .component2__1 {
    margin-top: 0;
    margin-left: 0;
    flex: 1 1;
  }

  .component2__1__label1 {
    margin-top: 80px;
    font-size: 32px;
    text-align: center;
  }

  .component2__1__label2 {
    text-align: center;
    font-size: 14px;
    height: 100px;
  }

  .component2__2 {
    display: flex;
    justify-content: center;
    flex: 0 0 432px;
    align-items: center;
  }

  .component2__2__phone {
    width: 280px;
  }

  .component2__2__phone__screen {
    margin-top: 64px;
    width: 252px;
  }

  .component2__2__phone__screen__section1 {
    flex: 0 0 252px;
  }

  .component2__2__phone__screen__section2 {
    flex: 0 0 252px;
  }

  .component2__2__phone__screen__section3 {
    flex: 0 0 252px;
  }

  .component2__2__phone__screen__section4 {
    flex: 0 0 252px;
  }

  .component2__2__prevBtn {
    background-image: url("./img/btn_chevron_left@3x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    cursor: pointer;
  }

  .component2__2__nextBtn {
    background-image: url("./img/btn_chevron_right@3x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    width: 35px;
    height: 35px;
    margin-left: 8px;
    cursor: pointer;
  }
}
